In [2]:
import numpy as np 
import pandas as pd 

df_train = pd.read_csv('train.csv')

df_test = pd.read_csv('test.csv')

In [4]:
df_train.head(5)

,Id,Province/State,Country/Region,Lat,Long,Date,ConfirmedCases,Fatalities
0,1,NaN,Afghanistan,33.0,65.0,2020-01-22,0.0,0.0
1,2,NaN,Afghanistan,33.0,65.0,2020-01-23,0.0,0.0
2,3,NaN,Afghanistan,33.0,65.0,2020-01-24,0.0,0.0
3,4,NaN,Afghanistan,33.0,65.0,2020-01-25,0.0,0.0
4,5,NaN,Afghanistan,33.0,65.0,2020-01-26,0.0,0.0

In [5]:
df_test.head(5)

   ForecastId Province/State Country/Region   Lat  Long        Date
0           1            NaN    Afghanistan  33.0  65.0  2020-03-12
1           2            NaN    Afghanistan  33.0  65.0  2020-03-13
2           3            NaN    Afghanistan  33.0  65.0  2020-03-14
3           4            NaN    Afghanistan  33.0  65.0  2020-03-15
4           5            NaN    Afghanistan  33.0  65.0  2020-03-16

In [17]:
#Convert to date time to better later manipulation
df_train['Date'] = pd.to_datetime(df_train.Date)
df_test['Date'] = pd.to_datetime(df_test.Date)

In [18]:
def missing_values(df):
    s_types = df.dtypes
    s_missing= df.isnull().sum()
    s_missingper= (df.isnull().sum()/df.shape[0])*100

    explo = pd.DataFrame({'Types': s_types,
                       'Missing': s_missing,
                      'Missing%': s_missingper,}).sort_values(by=['Missing%','Types'],ascending=False)
    return explo

def description(df):
    s_types = df.dtypes
    s_head= df.apply(lambda x: x[0:3].tolist())

    explo = pd.DataFrame({'Types': s_types,
                      'Head': s_head}).sort_values(by=['Types'],ascending=False)
    return explo

In [19]:
#Missing Values Train
missing_values(df_train)

                         Types  Missing   Missing%
Province/State          object     9086  54.225352
Lat                    float64       59   0.352113
Long                   float64       59   0.352113
Country/Region          object        0   0.000000
Date            datetime64[ns]        0   0.000000
ConfirmedCases         float64        0   0.000000
Fatalities             float64        0   0.000000
Id                       int64        0   0.000000

In [20]:
#Missing Values Test
missing_values(df_test)

                         Types  Missing   Missing%
Province/State          object     6622  54.225352
Lat                    float64       43   0.352113
Long                   float64       43   0.352113
Country/Region          object        0   0.000000
Date            datetime64[ns]        0   0.000000
ForecastId               int64        0   0.000000

In [21]:
#Description
description(df_train)

,Types,Head
Province/State,object,"[nan, nan, nan]"
Country/Region,object,"[Afghanistan, Afghanistan, Afghanistan]"
Lat,float64,"[33.0, 33.0, 33.0]"
Long,float64,"[65.0, 65.0, 65.0]"
Id,int64,"[1, 2, 3]"
Date,datetime64[ns],"[2020-01-22 00:00:00, 2020-01-23 00:00:00, 202..."
ConfirmedCases,float64,"[0.0, 0.0, 0.0]"
Fatalities,float64,"[0.0, 0.0, 0.0]"

In [23]:
#Description
description(df_test)

,Types,Head
Province/State,object,"[nan, nan, nan]"
Country/Region,object,"[Afghanistan, Afghanistan, Afghanistan]"
Lat,float64,"[33.0, 33.0, 33.0]"
Long,float64,"[65.0, 65.0, 65.0]"
ForecastId,int64,"[1, 2, 3]"
Date,datetime64[ns],"[2020-03-12 00:00:00, 2020-03-13 00:00:00, 202..."